@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}
html {
  overscroll-behavior-y: none; /* needed on mobile */
}
body {
  overscroll-behavior-y: none; /* needed on desktop */
}
